@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

$color-primary-darken: #09aefb;
$color-primary: #2ebdff;
$color-primary-light: #9fe1ff;
$color-dark: #2e393d;


.new-header-combo-x-box {
    background-image: linear-gradient($color-primary-light, #FFF);
    height: 23vh;
    padding: 20px 0;

    @media (min-width:576px) {
        height: 23vh;
    }

    @media (min-width:768px) {
        height: 30vh;
    }

    @media (min-width:992px) {
        height: 28vh;
    }

    @media (min-width:1200px) {
        height: 28vh;
    }



    .container-box {
        height: 100%;

        .new-header-combo-x {
            gap: 10px;
            display: flex;
            height: 100%;

            .header-left-x {
                flex: 1;
                border-radius: 8px;
                overflow: hidden;

                &.newHeroAbSlider {
                    width: 100%;
                    height: 100%;

                    .swiper-wrapper {
                        height: 100%;

                        .swiper-slide {
                            .hero-slider-link {
                                display: block;
                                background-color: red;
                                height: 100%;

                                .img-hero-slider {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    // object-position: center;
                                    background-color: red;
                                }
                            }
                        }
                    }
                }

                .swiper-button-next.next-btn-hero-lg {
                    background-color: #EEE;
                    box-shadow: 0 0 4px rgba(0, 0, 0, .05);
                    border-radius: 50%;
                    height: 35px;
                    width: 35px;

                    &::after {
                        color: #000;
                        font-size: 15px;
                    }
                }

                .swiper-button-prev.prev-btn-hero-lg {
                    background-color: #EEE;
                    box-shadow: 0 0 4px rgba(0, 0, 0, .05);
                    border-radius: 50%;
                    height: 35px;
                    width: 35px;

                    &::after {
                        color: #000;
                        font-size: 15px;
                    }
                }
            }

            .header-right-x {
                width: 35%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .header-right-x-top {
                    width: 100%;
                    flex: 1;
                    border-radius: 8px;
                    overflow: hidden;

                }


                .header-right-x-bottom {
                    width: 100%;
                    flex: 1;
                    border-radius: 8px;
                    overflow: hidden;
                }

                .hero-slider-link-right {
                    height: 100%;

                    .img-hero-slider-right {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }
}


body.has_bottom_menu {
    padding-bottom: 60px;
}


// VIDEO PLAYER STORY
.video_story_wrapper_v2 {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    max-width: 620px;
    margin: 0 auto;

    .video_player {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (min-width:620px) {
            object-fit: contain;

        }
    }

    .wrapper_layer_video {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), transparent, transparent, transparent, rgba(0, 0, 0, .9));
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;

        .top-content {
            color: #FFF;
            padding-top: 20px;

            .top-content-action {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .btn-back {
                    background-color: rgba(0, 0, 0, 0.8);
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                    border: none;
                    cursor: pointer;
                    color: #FFF;
                    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
                }

                .content-views-count {
                    background-color: rgba(255, 0, 0, 0.8);
                    border-radius: 7px;
                    padding: 0 4px;
                    display: flex;
                    align-items: center;

                    .count {
                        font-size: 10px;
                    }
                }
            }

        }

        .bottom-content {
            color: #FFF;

            .action-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .action-btn-box {
                    display: flex;
                    align-items: center;

                    .action-btn-item {
                        background-color: transparent;
                        height: 35px;
                        width: 35px;
                        border-radius: 8px;
                        border: none;
                        cursor: pointer;
                        color: #FFF;
                        margin-right: 5px;
                        border: 2px solid #FFF;
                    }

                }

                .btn-product-trigger {
                    position: relative;
                    background-color: transparent;
                    border: 1px solid #FFF;
                    height: 35px;
                    width: 35px;
                    border-radius: 6px;
                    color: #FFF;
                    font-size: 22px;

                    .count-product-story {
                        position: absolute;
                        top: -10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        left: 0;
                        right: 0;

                        .badge-count {
                            font-size: 10px;
                            background-color: $color-primary-darken;
                            height: 17px;
                            width: 17px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            border: 1px solid #FFF;

                        }
                    }
                }
            }
        }
    }

    .story-product-container {
        transform: translateY(100%);
        transition: all ease-in-out .3s;

        &.show {
            transform: translateY(0%);
        }

        position: absolute;
        z-index: 1000;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .story-product-wrapper {
            height: 70%;
            background-color: #FFF;
            border-radius: 20px 20px 0 0;
            padding: 10px;
            display: flex;
            flex-direction: column;

            .product-wrapper-action-top {
                display: flex;
                padding: 0 5px;
                justify-content: space-between;
                align-items: center;

                .btn-close-product-wrapper {
                    background-color: red;
                    color: #FFF;
                    border-radius: 50%;
                    border: none;
                    width: 30px;
                    height: 30px;
                }
            }

            .product-wrapper-body {
                padding: 10px 5px;
                flex: 1;
                overflow-y: auto;
            }
        }
    }

}

.product-story-card-v2 {
    display: flex;
    margin: 4px 0;
    align-items: center;
    border-radius: 10px;
    background-color: #FFF;
    padding: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);

    .img-content-product {
        width: 90px;
        aspect-ratio: 1/1;
        margin-right: 5px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            object-fit: cover;
        }
    }

    .content-product {
        flex: 1;


        .product-name {
            margin: 0;
            font-size: 13px;
        }

        .price-wrapper {
            display: flex;
            align-items: center;


            .price-basic {
                font-size: 15px;
                font-weight: 600;
            }

            .price-discount {
                background-color: rgb(247, 176, 176);
                color: red;
                font-size: 10px;
                font-weight: 700;
                margin: 0 5px;
                padding: 2px 4px;
                border-radius: 5px;
            }

            .price-actual {
                font-size: 12px;
                color: #575757;
                font-style: italic;
                text-decoration: line-through;
            }
        }

        .btn-action-product {
            padding: 5px 0;
            display: flex;
            gap: 5px;

            .btn-action-item {
                background-color: $color-primary;
                font-size: 12px;
                border: none;
                padding: 2px;
                width: 100px;
                border-radius: 10px;
                color: #FFF;
            }
        }
    }

}






.new-card-product-box {
    position: relative;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    background-color: #FFF;
    overflow: hidden;
    border-radius: 8px;
    transition: all ease-in-out .3s;

    .new-custom-card-ab {
        display: block;
        text-decoration: none;
        color: inherit;
        cursor: pointer;

        .top-body {
            position: relative;
            aspect-ratio: 1;

            .badge-card-discount {
                position: absolute;
                z-index: 10;
                left: 4px;
                top: 4px;
                background-color: rgba(254, 194, 194, 0.7);
                font-size: 12px;
                font-weight: 700;
                padding: 2px 5px;
                color: #F00;
                border-radius: 50px;
                box-shadow: 0 0 1px 1px rgb(255, 255, 255, 0.8);
            }

            .card-img-product {
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: all ease-in-out .2s;
            }

            .badge-top-image {
                display: flex;
                align-items: center;
                margin-left: 0;
                position: absolute;
                bottom: 0;
                padding: 2px;
                background-color: rgba(255, 0, 0, 0.036);
                width: 100%;
                transition: all ease-in-out .2s;

                .badge-item {
                    width: 25%;

                    .icon-logo {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }

        .main-body {
            padding: 7px;

            .product-name {
                .product-text {
                    padding: 0;
                    margin: 0;
                    font-size: 13px;
                    line-height: 16px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;

                    @media (max-width:576px) {
                        font-size: 11px;
                    }
                }
            }

            .product-price {
                padding-top: 10px;

                .product-basic-price {
                    font-size: 18px;
                    font-weight: 600;
                    color: #333;
                    line-height: 18px;
                }

                .product-discount-price {
                    display: flex;
                    align-items: center;
                    margin: 0;
                    height: 20px;

                    .discount-badge {
                        font-size: 10px;
                        font-weight: 700;
                        background-color: #f6c0c0;
                        color: #F00;
                        margin-right: 5px;
                        padding: 2px;
                        border-radius: 5px;
                    }

                    .discount-price {
                        font-size: 12px;
                        color: #575757;
                        font-style: italic;
                        font-weight: 300;
                        text-decoration: line-through;
                    }
                }

                @media (max-width:576px) {
                    padding-top: 5px;

                    .product-basic-price {
                        font-size: 14px;
                        margin: 0;
                        margin-bottom: 4px;
                    }

                    .product-discount-price {
                        .discount-badge {
                            font-size: 8px;
                            font-weight: 700;
                            background-color: #f6c0c0;
                        }

                        .discount-price {
                            font-size: 10px;
                            color: #575757;
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .footer-card-product {
            padding: 0 10px;

            .footer-card-product-top {
                display: flex;
                align-items: center;

                .start-count {
                    flex: 1;

                    .rating-icon {
                        color: #f2bd20;
                        font-size: 14px;
                    }
                }

                .sold-count {
                    flex: 1;
                    display: flex;
                    justify-content: flex-end;
                    font-size: 11px;
                }
            }

            .footer-card-product-bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 5px;

                .badge-popular {
                    font-size: 11px;
                    font-weight: 600;
                    background-color: #1bc91b;
                    color: #FFF;
                    padding: 1px 6px 1px 1px;
                    border-radius: 4px;
                }

                .count-show {
                    font-size: 10px;
                    padding: 5px 0;
                }
            }

            @media (max-width:576px) {
                padding: 0 5px;

                .footer-card-product-top {
                    .start-count {
                        .rating-icon {
                            font-size: 11px;
                        }
                    }

                    .sold-count {
                        font-size: 10px;
                    }
                }

                .footer-card-product-bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 5px;

                    .badge-popular {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    .action-box-hidden {
        position: absolute;
        bottom: -40px;
        height: 40px;
        background-color: #FFF;
        width: 100%;
        transition: all ease-in-out .3s;
        display: flex;
        align-items: center;
        padding: 0 7px;
        box-shadow: 0 0 1px rgba(0, 0, 0, .2);
        display: flex;
        justify-content: space-between;

        .btn-action-box-hidden {
            font-size: 12px;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            gap: 2px;

            .icon-wishlist-action {
                color: #F00;
            }
        }
    }

    &:hover {
        scale: 1.02;

        .new-custom-card-ab {
            .top-body {
                .card-img-product {
                    scale: 1.03;
                }

                .badge-top-image {
                    margin-left: 5%;
                }
            }

        }

        .action-box-hidden {
            position: absolute;
            bottom: 0;
        }
    }


}


.new-card-product-box-loading {
    animation: skeleton-loading-card-ab 1s linear infinite alternate;
    position: relative;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    background-color: #FFF;
    overflow: hidden;
    border-radius: 8px;
    transition: all ease-in-out .3s;

    .new-custom-card-ab {
        display: block;
        text-decoration: none;
        color: inherit;
        cursor: pointer;

        .top-body {
            position: relative;
            aspect-ratio: 1;

            .badge-card-discount {
                position: absolute;
                z-index: 10;
                left: 4px;
                top: 4px;
                background-color: #EEE;
                height: 25px;
                width: 40px;
                border-radius: 5px;
                animation: skeleton-loading-card-ab 1s linear infinite alternate;
            }

            .card-img-product {
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: all ease-in-out .2s;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #DDD;
                animation: skeleton-loading-card-ab 1s linear infinite alternate;

                .img-loader {
                    font-size: 56px;
                    color: #999;
                }
            }
        }

        .main-body {
            padding: 7px;

            .product-name {
                .product-text {
                    height: 5px;
                    width: 100%;
                    background-color: #EEE;
                    margin: 5px 0;
                    border-radius: 5px;
                }
            }

            .product-price {
                padding-top: 10px;

                .product-basic-price {
                    height: 8px;
                    width: 60%;
                    background-color: #999;
                    margin: 2px 0;
                    border-radius: 5px;
                }
            }
        }

        .footer-card-product {
            padding: 0 10px;

            .footer-card-product-top {
                display: flex;
                align-items: center;

                .start-count {
                    flex: 1;

                    .rating-icon {
                        color: #DDD;
                        font-size: 14px;
                    }
                }

                .sold-count {
                    flex: 1;
                    display: flex;
                    justify-content: flex-end;
                    font-size: 11px;
                }
            }

            .footer-card-product-bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 5px;

                .badge-popular {
                    font-size: 11px;
                    font-weight: 600;
                    background-color: #1bc91b;
                    color: #FFF;
                    padding: 1px 6px 1px 1px;
                    border-radius: 4px;
                }

                .count-show {
                    font-size: 10px;
                    padding: 5px 0;
                }
            }

            @media (max-width:576px) {
                padding: 0 5px;

                .footer-card-product-top {
                    .start-count {
                        .rating-icon {
                            font-size: 11px;
                        }
                    }

                    .sold-count {
                        font-size: 10px;
                    }
                }

                .footer-card-product-bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 5px;

                    .badge-popular {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    .action-box-hidden {
        position: absolute;
        bottom: -40px;
        height: 40px;
        background-color: #FFF;
        width: 100%;
        transition: all ease-in-out .3s;
        display: flex;
        align-items: center;
        padding: 0 7px;
        box-shadow: 0 0 1px rgba(0, 0, 0, .2);
        display: flex;
        justify-content: space-between;
    }
}

.thumbnail-video-story-box {
    cursor: pointer;
    animation: heartbeatLitle 5s ease-in-out infinite both;
    aspect-ratio: 3/4;
    position: relative;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    color: inherit;
    text-decoration: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);

    .layer-video-thumbnail {
        position: absolute;
        z-index: 20;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(223, 223, 223, 0), rgba(223, 223, 223, 0), #000);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top-wrapper {
            padding: 0 5px;

            .badge-top-vid {
                display: inline-block;
                color: #FFF;
                font-size: 10px;
                background-color: rgba(255, 0, 0, 0.8);
                padding: 2px 4px;
                border-radius: 5px;
                animation: heartbeat 1.5s ease-in-out infinite both;
            }
        }

        .bottom-wrapper {
            display: flex;
            align-items: center;
            padding: 0 5px;

            .icon-play {
                font-size: 18px;
                color: #FFF;
            }

            .count-views {
                font-size: 10px;
                color: #FFF;
            }
        }
    }

    .thumbnail-video-tag {
        z-index: 10;
        z-index: 10;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0;
    }
}

.story-home-header-wrapper-v2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;


    .header-left {
        flex: 1;
        display: flex;
        align-items: center;

        .icon-header-video {
            height: 25px;
            width: 25px;
            background-color: $color-primary;
            color: #FFF;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
                font-size: 22px;
                animation: heartbeat 1s ease-in-out infinite both;
            }
        }

        .story-home-header-wrapper {
            margin: 0;
            margin-left: 5px;
            font-size: 18px;

            @media (min-width:768px) {
                font-size: 22px;
                margin-left: 10px;
            }
        }

    }

    .show-all-link {
        text-decoration: none;
        color: $color-primary;

        @media (max-width:576px) {
            font-size: 12px;
        }

        &:hover {
            color: $color-primary-darken;
        }
    }
}


@keyframes skeleton-loading-card-ab {
    0% {
        background-color: rgba(0, 0, 0, .05);
    }

    50% {
        background-color: rgba(0, 0, 0, .02);
    }

    100% {
        background-color: rgba(0, 0, 0, .05);
    }
}


.new-header-section-ab {
    display: flex;
    align-items: center;

    .new-section-title-ab {
        font-size: 22px;
        color: #333;

        @media (max-width:576px) {
            font-size: 18px;
        }
    }

    .track-divider {
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;

        .circle-light {
            position: absolute;
            height: 15px;
            width: 15px;
            background-color: #FFF;
            border-radius: 50%;
            z-index: 50;
            animation-name: animateCircle;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            box-shadow: 0 0 10px $color-primary;
        }

        .circle-light-2 {
            position: absolute;
            height: 10px;
            width: 10px;
            background-color: #FFF;
            border-radius: 50%;
            // transform: rotateY(90deg);
            z-index: 50;
            left: 15px;
            animation-name: animateCircle;
            animation-duration: 3.95s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            box-shadow: 0 0 10px $color-primary;
        }

        .divider-outer {
            width: 100%;
            position: relative;
            z-index: 20;
            height: 6px;
            background-color: $color-primary-light;
            margin: 0 10px;
            border-radius: 10px;
            overflow-x: hidden;
            display: flex;
            align-items: center;
            padding: 0 5px;
        }
    }

    .show-all-link {
        text-decoration: none;
        color: $color-primary;

        @media (max-width:576px) {
            font-size: 12px;
        }

        &:hover {
            color: $color-primary-darken;
        }
    }
}





.new-header-section-ab-2 {
    display: flex;
    align-items: center;

    .new-section-title-ab-2 {
        font-size: 22px;
        color: $color-primary;

        @media (max-width:576px) {
            font-size: 18px;
        }
    }

    .track-divider {
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
        z-index: 50;

        .ill-icon-box {
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            z-index: 60;
            left: 10px;
            animation-name: animateIllIcon;
            animation-duration: 3.95s;
            animation-iteration-count: infinite;
            animation-direction: alternate;

            .ill-icon {
                transform: rotate(90deg);
                display: inline-block;
                color: $color-primary;
            }



        }

        .divider-outer {
            width: 100%;
            position: relative;
            z-index: 20;
            height: 6px;
            background-color: $color-primary-light;
            margin: 0 10px;
            border-radius: 10px;
            overflow-x: hidden;
            display: flex;
            align-items: center;
            padding: 0 5px;
        }
    }

    .show-all-link {
        text-decoration: none;
        color: $color-primary;

        @media (max-width:576px) {
            font-size: 12px;
        }

        &:hover {
            color: $color-primary-darken;
        }
    }
}


@keyframes animateCircle {
    0% {
        margin-left: 40%;
    }

    100% {
        margin-left: 95%;
    }
}

@media (max-width:576px) {
    @keyframes animateCircle {
        0% {
            margin-left: 10%;
        }

        100% {
            margin-left: 70%;
        }
    }
}


@keyframes animateIllIcon {
    0% {
        margin-left: 20%;
    }

    100% {
        margin-left: 95%;
    }
}

@media (max-width:576px) {
    @keyframes animateIllIcon {
        0% {
            margin-left: 10%;
        }

        100% {
            margin-left: 70%;
        }
    }
}



// ANIMAION



.bounce-top {
    -webkit-animation: bounce-top 2s infinite alternate both;
    animation: bounce-top 2s infinite alternate both;
}

@-webkit-keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    65% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

@keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    65% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}




.badge-top-image .badge-item {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}





@-webkit-keyframes heartbeatLitle {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.99);
        transform: scale(0.99);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.99);
        transform: scale(0.99);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeatLitle {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.99);
        transform: scale(0.99);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.99);
        transform: scale(0.99);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}


// MENU BOTTOM
.menu-bottom-mobile-v2 {
    position: fixed;
    z-index: 9990;
    bottom: 0;
    left: 0;
    right: 0;
    height: 57px;
    background-color: #FFF;
    color: $color-dark;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);

    .menu-wrapper {
        max-width: 420px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu-item {
            text-decoration: none;
            color: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 10px;

            &.active {
                color: $color-primary-darken;

                .text-menu-item {
                    font-weight: 500;
                }
            }
        }

        .icon-wrapper {
            .bottom-menu-icon {
                font-size: 16px;
                display: block;
            }
        }

        .text-menu-item {
            margin-top: 2px;
            font-size: 10px;
        }

    }
}

.wobble-hor-bottom {
    -webkit-animation: wobble-hor-bottom 3s infinite both;
    animation: wobble-hor-bottom 3s infinite both;
}

@keyframes wobble-hor-bottom {

    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 60%;
        transform-origin: 50% 60%;
    }

    15% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    30% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }

    45% {
        -webkit-transform: rotate(-36deg);
        transform: rotate(-36deg);
    }

    60% {
        -webkit-transform: rotate(24deg);
        transform: rotate(24deg);
    }

    75% {
        -webkit-transform: rotate(-1.2deg);
        transform: rotate(-1.2deg);
    }
}


.flicker-1 {
    -webkit-animation: flicker-1 3s ease-in-out infinite both;
    animation: flicker-1 3s ease-in-out infinite both;
}

@-webkit-keyframes flicker-1 {

    0%,
    100% {
        opacity: 1;
    }

    41.99% {
        opacity: 1;
    }

    42% {
        opacity: 0;
    }

    43% {
        opacity: 0;
    }

    43.01% {
        opacity: 1;
    }

    47.99% {
        opacity: 1;
    }

    48% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    49.01% {
        opacity: 1;
    }
}

@keyframes flicker-1 {

    0%,
    100% {
        opacity: 1;
    }

    41.99% {
        opacity: 1;
    }

    42% {
        opacity: 0;
    }

    43% {
        opacity: 0;
    }

    43.01% {
        opacity: 1;
    }

    47.99% {
        opacity: 1;
    }

    48% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    49.01% {
        opacity: 1;
    }
}