@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.new-header-combo-x-box {
  background-image: linear-gradient(#9fe1ff, #FFF);
  height: 23vh;
  padding: 20px 0;
}
@media (min-width: 576px) {
  .new-header-combo-x-box {
    height: 23vh;
  }
}
@media (min-width: 768px) {
  .new-header-combo-x-box {
    height: 30vh;
  }
}
@media (min-width: 992px) {
  .new-header-combo-x-box {
    height: 30vh;
  }
}
@media (min-width: 1200px) {
  .new-header-combo-x-box {
    height: 38vh;
  }
}
@media (min-width: 1500px) {
  .new-header-combo-x-box {
    height: 28vh;
  }
}
.new-header-combo-x-box .container-box {
  height: 100%;
}
.new-header-combo-x-box .container-box .new-header-combo-x {
  gap: 10px;
  display: flex;
  height: 100%;
}
.new-header-combo-x-box .container-box .new-header-combo-x .header-left-x {
  flex: 1;
  border-radius: 8px;
  overflow: hidden;
}
.new-header-combo-x-box .container-box .new-header-combo-x .header-left-x.newHeroAbSlider {
  width: 100%;
  height: 100%;
}
.new-header-combo-x-box .container-box .new-header-combo-x .header-left-x.newHeroAbSlider .swiper-wrapper {
  height: 100%;
}
.new-header-combo-x-box .container-box .new-header-combo-x .header-left-x.newHeroAbSlider .swiper-wrapper .swiper-slide .hero-slider-link {
  display: block;
  background-color: red;
  height: 100%;
}
.new-header-combo-x-box .container-box .new-header-combo-x .header-left-x.newHeroAbSlider .swiper-wrapper .swiper-slide .hero-slider-link .img-hero-slider {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: red;
}
.new-header-combo-x-box .container-box .new-header-combo-x .header-left-x .swiper-button-next.next-btn-hero-lg {
  background-color: #EEE;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
.new-header-combo-x-box .container-box .new-header-combo-x .header-left-x .swiper-button-next.next-btn-hero-lg::after {
  color: #000;
  font-size: 15px;
}
.new-header-combo-x-box .container-box .new-header-combo-x .header-left-x .swiper-button-prev.prev-btn-hero-lg {
  background-color: #EEE;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
.new-header-combo-x-box .container-box .new-header-combo-x .header-left-x .swiper-button-prev.prev-btn-hero-lg::after {
  color: #000;
  font-size: 15px;
}
.new-header-combo-x-box .container-box .new-header-combo-x .header-right-x {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.new-header-combo-x-box .container-box .new-header-combo-x .header-right-x .header-right-x-top {
  width: 100%;
  flex: 1;
  border-radius: 8px;
  overflow: hidden;
}
.new-header-combo-x-box .container-box .new-header-combo-x .header-right-x .header-right-x-bottom {
  width: 100%;
  flex: 1;
  border-radius: 8px;
  overflow: hidden;
}
.new-header-combo-x-box .container-box .new-header-combo-x .header-right-x .hero-slider-link-right {
  height: 100%;
}
.new-header-combo-x-box .container-box .new-header-combo-x .header-right-x .hero-slider-link-right .img-hero-slider-right {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.flashsale-component-v2 .header-flahsale .header-content {
  display: flex;
  align-items: center;
}
.flashsale-component-v2 .header-flahsale .header-content .icon-flashsale {
  margin-right: 10px;
}
.flashsale-component-v2 .header-flahsale .header-content .icon-flashsale img {
  width: 120px;
}
.flashsale-component-v2 .header-flahsale .timers {
  display: flex;
  gap: 3px;
}
.flashsale-component-v2 .header-flahsale .timers .timer-item {
  width: 35px;
  height: 35px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 8px;
  background-color: #000;
}
.flashsale-component-v2 .flashsale-card-item {
  text-decoration: none;
  color: inherit;
}
.flashsale-component-v2 .flashsale-card-item .image-flash {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.flashsale-component-v2 .flashsale-card-item .image-flash .discount {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgb(247, 175, 175);
  padding: 2px 4px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 800;
  color: red;
  border: dashed 1px rgb(243, 124, 124);
}
.flashsale-component-v2 .flashsale-card-item .image-flash .img-hero-slider {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.flashsale-component-v2 .flashsale-card-item .prices .current-price {
  font-size: 20px;
  font-weight: 700;
  color: #09aefb;
}
.flashsale-component-v2 .flashsale-card-item .prices .basic-price {
  font-size: 14px;
  color: #575757;
  font-style: italic;
  text-decoration: line-through;
}
.flashsale-component-v2 .flashsale-card-item .indicator-sale .outer {
  background-color: rgb(255, 148, 148);
  color: #FFF;
  font-size: 12px;
  border-radius: 40px;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
}
.flashsale-component-v2 .flashsale-card-item .indicator-sale .outer .count-sold {
  position: relative;
  z-index: 20;
  margin: 0;
}
.flashsale-component-v2 .flashsale-card-item .indicator-sale .inner {
  background-color: red;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
}

body.has_bottom_menu {
  padding-bottom: 60px;
}

.video_story_wrapper_v2 {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  max-width: 620px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video_story_wrapper_v2 .video_player {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 620px) {
  .video_story_wrapper_v2 .video_player {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.video_story_wrapper_v2 .wrapper_layer_video {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), transparent, transparent, transparent, rgba(0, 0, 0, 0.9));
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.video_story_wrapper_v2 .wrapper_layer_video .top-content {
  color: #FFF;
  padding-top: 20px;
}
.video_story_wrapper_v2 .wrapper_layer_video .top-content .top-content-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.video_story_wrapper_v2 .wrapper_layer_video .top-content .top-content-action .btn-back {
  background-color: rgba(0, 0, 0, 0.8);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  color: #FFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.video_story_wrapper_v2 .wrapper_layer_video .top-content .top-content-action .content-views-count {
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 7px;
  padding: 0 4px;
  display: flex;
  align-items: center;
}
.video_story_wrapper_v2 .wrapper_layer_video .top-content .top-content-action .content-views-count .count {
  font-size: 10px;
}
.video_story_wrapper_v2 .wrapper_layer_video .bottom-content {
  color: #FFF;
  margin-bottom: 40px;
}
.video_story_wrapper_v2 .wrapper_layer_video .bottom-content .action-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.video_story_wrapper_v2 .wrapper_layer_video .bottom-content .action-wrapper .action-btn-box {
  display: flex;
  align-items: center;
}
.video_story_wrapper_v2 .wrapper_layer_video .bottom-content .action-wrapper .action-btn-box .action-btn-item {
  background-color: transparent;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: #FFF;
  margin-right: 5px;
  border: 2px solid #FFF;
}
.video_story_wrapper_v2 .wrapper_layer_video .bottom-content .action-wrapper .btn-product-trigger {
  position: relative;
  background-color: transparent;
  border: 1px solid #FFF;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: #FFF;
  font-size: 22px;
}
.video_story_wrapper_v2 .wrapper_layer_video .bottom-content .action-wrapper .btn-product-trigger .count-product-story {
  position: absolute;
  top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
}
.video_story_wrapper_v2 .wrapper_layer_video .bottom-content .action-wrapper .btn-product-trigger .count-product-story .badge-count {
  font-size: 10px;
  background-color: #09aefb;
  height: 17px;
  width: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #FFF;
}
.video_story_wrapper_v2 .story-product-container {
  transform: translateY(100%);
  transition: all ease-in-out 0.3s;
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.video_story_wrapper_v2 .story-product-container.show {
  transform: translateY(0%);
}
.video_story_wrapper_v2 .story-product-container .story-product-wrapper {
  height: 70%;
  background-color: #FFF;
  border-radius: 20px 20px 0 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.video_story_wrapper_v2 .story-product-container .story-product-wrapper .product-wrapper-action-top {
  display: flex;
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;
}
.video_story_wrapper_v2 .story-product-container .story-product-wrapper .product-wrapper-action-top .btn-close-product-wrapper {
  background-color: red;
  color: #FFF;
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
}
.video_story_wrapper_v2 .story-product-container .story-product-wrapper .product-wrapper-body {
  padding: 10px 5px;
  flex: 1;
  overflow-y: auto;
}

.product-story-card-v2 {
  display: flex;
  margin: 4px 0;
  align-items: center;
  border-radius: 10px;
  background-color: #FFF;
  padding: 3px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.product-story-card-v2 .img-content-product {
  width: 90px;
  aspect-ratio: 1/1;
  margin-right: 5px;
}
.product-story-card-v2 .img-content-product img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-story-card-v2 .content-product {
  flex: 1;
}
.product-story-card-v2 .content-product .product-name {
  margin: 0;
  font-size: 13px;
}
.product-story-card-v2 .content-product .price-wrapper {
  display: flex;
  align-items: center;
}
.product-story-card-v2 .content-product .price-wrapper .price-basic {
  font-size: 15px;
  font-weight: 600;
}
.product-story-card-v2 .content-product .price-wrapper .price-discount {
  background-color: rgb(247, 176, 176);
  color: red;
  font-size: 10px;
  font-weight: 700;
  margin: 0 5px;
  padding: 2px 4px;
  border-radius: 5px;
}
.product-story-card-v2 .content-product .price-wrapper .price-actual {
  font-size: 12px;
  color: #575757;
  font-style: italic;
  text-decoration: line-through;
}
.product-story-card-v2 .content-product .btn-action-product {
  padding: 5px 0;
  display: flex;
  gap: 5px;
}
.product-story-card-v2 .content-product .btn-action-product .btn-action-item {
  background-color: #2ebdff;
  font-size: 12px;
  border: none;
  padding: 2px;
  width: 100px;
  border-radius: 10px;
  color: #FFF;
}

.btn-toggle-play-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.btn-toggle-play-wrapper .btn-toggle-play {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 32px;
  color: #FFF;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.new-card-product-box {
  position: relative;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  overflow: hidden;
  border-radius: 8px;
  transition: all ease-in-out 0.3s;
}
.new-card-product-box .new-custom-card-ab {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.new-card-product-box .new-custom-card-ab .top-body {
  position: relative;
  aspect-ratio: 1;
}
.new-card-product-box .new-custom-card-ab .top-body .badge-card-discount {
  position: absolute;
  z-index: 10;
  left: 4px;
  top: 4px;
  background-color: rgba(254, 194, 194, 0.7);
  font-size: 12px;
  font-weight: 700;
  padding: 2px 5px;
  color: #F00;
  border-radius: 50px;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8);
}
.new-card-product-box .new-custom-card-ab .top-body .card-img-product {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all ease-in-out 0.2s;
}
.new-card-product-box .new-custom-card-ab .top-body .badge-top-image {
  display: flex;
  align-items: center;
  margin-left: 0;
  position: absolute;
  bottom: 0;
  padding: 2px;
  background-color: rgba(255, 0, 0, 0.036);
  width: 100%;
  transition: all ease-in-out 0.2s;
}
.new-card-product-box .new-custom-card-ab .top-body .badge-top-image .badge-item {
  width: 25%;
}
.new-card-product-box .new-custom-card-ab .top-body .badge-top-image .badge-item .icon-logo {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.new-card-product-box .new-custom-card-ab .main-body {
  padding: 7px;
}
.new-card-product-box .new-custom-card-ab .main-body .product-name .product-text {
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 576px) {
  .new-card-product-box .new-custom-card-ab .main-body .product-name .product-text {
    font-size: 11px;
  }
}
.new-card-product-box .new-custom-card-ab .main-body .product-price {
  padding-top: 10px;
}
.new-card-product-box .new-custom-card-ab .main-body .product-price .product-basic-price {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  line-height: 18px;
}
.new-card-product-box .new-custom-card-ab .main-body .product-price .product-discount-price {
  display: flex;
  align-items: center;
  margin: 0;
  height: 20px;
}
.new-card-product-box .new-custom-card-ab .main-body .product-price .product-discount-price .discount-badge {
  font-size: 10px;
  font-weight: 700;
  background-color: #f6c0c0;
  color: #F00;
  margin-right: 5px;
  padding: 2px;
  border-radius: 5px;
}
.new-card-product-box .new-custom-card-ab .main-body .product-price .product-discount-price .discount-price {
  font-size: 12px;
  color: #575757;
  font-style: italic;
  font-weight: 300;
  text-decoration: line-through;
}
@media (max-width: 576px) {
  .new-card-product-box .new-custom-card-ab .main-body .product-price {
    padding-top: 5px;
  }
  .new-card-product-box .new-custom-card-ab .main-body .product-price .product-basic-price {
    font-size: 14px;
    margin: 0;
    margin-bottom: 4px;
  }
  .new-card-product-box .new-custom-card-ab .main-body .product-price .product-discount-price .discount-badge {
    font-size: 8px;
    font-weight: 700;
    background-color: #f6c0c0;
  }
  .new-card-product-box .new-custom-card-ab .main-body .product-price .product-discount-price .discount-price {
    font-size: 10px;
    color: #575757;
    font-weight: 400;
  }
}
.new-card-product-box .new-custom-card-ab .footer-card-product {
  padding: 0 10px;
}
.new-card-product-box .new-custom-card-ab .footer-card-product .footer-card-product-top {
  display: flex;
  align-items: center;
}
.new-card-product-box .new-custom-card-ab .footer-card-product .footer-card-product-top .start-count {
  flex: 1;
}
.new-card-product-box .new-custom-card-ab .footer-card-product .footer-card-product-top .start-count .rating-icon {
  color: #f2bd20;
  font-size: 14px;
}
.new-card-product-box .new-custom-card-ab .footer-card-product .footer-card-product-top .sold-count {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-size: 11px;
}
.new-card-product-box .new-custom-card-ab .footer-card-product .footer-card-product-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}
.new-card-product-box .new-custom-card-ab .footer-card-product .footer-card-product-bottom .badge-popular {
  font-size: 11px;
  font-weight: 600;
  background-color: #1bc91b;
  color: #FFF;
  padding: 1px 6px 1px 1px;
  border-radius: 4px;
}
.new-card-product-box .new-custom-card-ab .footer-card-product .footer-card-product-bottom .count-show {
  font-size: 10px;
  padding: 5px 0;
}
@media (max-width: 576px) {
  .new-card-product-box .new-custom-card-ab .footer-card-product {
    padding: 0 5px;
  }
  .new-card-product-box .new-custom-card-ab .footer-card-product .footer-card-product-top .start-count .rating-icon {
    font-size: 11px;
  }
  .new-card-product-box .new-custom-card-ab .footer-card-product .footer-card-product-top .sold-count {
    font-size: 10px;
  }
  .new-card-product-box .new-custom-card-ab .footer-card-product .footer-card-product-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
  }
  .new-card-product-box .new-custom-card-ab .footer-card-product .footer-card-product-bottom .badge-popular {
    font-size: 10px;
  }
}
.new-card-product-box .action-box-hidden {
  position: absolute;
  bottom: -40px;
  height: 40px;
  background-color: #FFF;
  width: 100%;
  transition: all ease-in-out 0.3s;
  display: flex;
  align-items: center;
  padding: 0 7px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}
.new-card-product-box .action-box-hidden .btn-action-box-hidden {
  font-size: 12px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 2px;
}
.new-card-product-box .action-box-hidden .btn-action-box-hidden .icon-wishlist-action {
  color: #F00;
}
.new-card-product-box:hover {
  scale: 1.02;
}
.new-card-product-box:hover .new-custom-card-ab .top-body .card-img-product {
  scale: 1.03;
}
.new-card-product-box:hover .new-custom-card-ab .top-body .badge-top-image {
  margin-left: 5%;
}
.new-card-product-box:hover .action-box-hidden {
  position: absolute;
  bottom: 0;
}

.new-card-product-box-loading {
  animation: skeleton-loading-card-ab 1s linear infinite alternate;
  position: relative;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  overflow: hidden;
  border-radius: 8px;
  transition: all ease-in-out 0.3s;
}
.new-card-product-box-loading .new-custom-card-ab {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.new-card-product-box-loading .new-custom-card-ab .top-body {
  position: relative;
  aspect-ratio: 1;
}
.new-card-product-box-loading .new-custom-card-ab .top-body .badge-card-discount {
  position: absolute;
  z-index: 10;
  left: 4px;
  top: 4px;
  background-color: #EEE;
  height: 25px;
  width: 40px;
  border-radius: 5px;
  animation: skeleton-loading-card-ab 1s linear infinite alternate;
}
.new-card-product-box-loading .new-custom-card-ab .top-body .card-img-product {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all ease-in-out 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DDD;
  animation: skeleton-loading-card-ab 1s linear infinite alternate;
}
.new-card-product-box-loading .new-custom-card-ab .top-body .card-img-product .img-loader {
  font-size: 56px;
  color: #999;
}
.new-card-product-box-loading .new-custom-card-ab .main-body {
  padding: 7px;
}
.new-card-product-box-loading .new-custom-card-ab .main-body .product-name .product-text {
  height: 5px;
  width: 100%;
  background-color: #EEE;
  margin: 5px 0;
  border-radius: 5px;
}
.new-card-product-box-loading .new-custom-card-ab .main-body .product-price {
  padding-top: 10px;
}
.new-card-product-box-loading .new-custom-card-ab .main-body .product-price .product-basic-price {
  height: 8px;
  width: 60%;
  background-color: #999;
  margin: 2px 0;
  border-radius: 5px;
}
.new-card-product-box-loading .new-custom-card-ab .footer-card-product {
  padding: 0 10px;
}
.new-card-product-box-loading .new-custom-card-ab .footer-card-product .footer-card-product-top {
  display: flex;
  align-items: center;
}
.new-card-product-box-loading .new-custom-card-ab .footer-card-product .footer-card-product-top .start-count {
  flex: 1;
}
.new-card-product-box-loading .new-custom-card-ab .footer-card-product .footer-card-product-top .start-count .rating-icon {
  color: #DDD;
  font-size: 14px;
}
.new-card-product-box-loading .new-custom-card-ab .footer-card-product .footer-card-product-top .sold-count {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-size: 11px;
}
.new-card-product-box-loading .new-custom-card-ab .footer-card-product .footer-card-product-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}
.new-card-product-box-loading .new-custom-card-ab .footer-card-product .footer-card-product-bottom .badge-popular {
  font-size: 11px;
  font-weight: 600;
  background-color: #1bc91b;
  color: #FFF;
  padding: 1px 6px 1px 1px;
  border-radius: 4px;
}
.new-card-product-box-loading .new-custom-card-ab .footer-card-product .footer-card-product-bottom .count-show {
  font-size: 10px;
  padding: 5px 0;
}
@media (max-width: 576px) {
  .new-card-product-box-loading .new-custom-card-ab .footer-card-product {
    padding: 0 5px;
  }
  .new-card-product-box-loading .new-custom-card-ab .footer-card-product .footer-card-product-top .start-count .rating-icon {
    font-size: 11px;
  }
  .new-card-product-box-loading .new-custom-card-ab .footer-card-product .footer-card-product-top .sold-count {
    font-size: 10px;
  }
  .new-card-product-box-loading .new-custom-card-ab .footer-card-product .footer-card-product-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
  }
  .new-card-product-box-loading .new-custom-card-ab .footer-card-product .footer-card-product-bottom .badge-popular {
    font-size: 10px;
  }
}
.new-card-product-box-loading .action-box-hidden {
  position: absolute;
  bottom: -40px;
  height: 40px;
  background-color: #FFF;
  width: 100%;
  transition: all ease-in-out 0.3s;
  display: flex;
  align-items: center;
  padding: 0 7px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

.thumbnail-video-story-box {
  cursor: pointer;
  animation: heartbeatLitle 5s ease-in-out infinite both;
  aspect-ratio: 3/4;
  position: relative;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  color: inherit;
  text-decoration: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.thumbnail-video-story-box .layer-video-thumbnail {
  position: absolute;
  z-index: 20;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(223, 223, 223, 0), rgba(223, 223, 223, 0), #000);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.thumbnail-video-story-box .layer-video-thumbnail .top-wrapper {
  padding: 0 5px;
}
.thumbnail-video-story-box .layer-video-thumbnail .top-wrapper .badge-top-vid {
  display: inline-block;
  color: #FFF;
  font-size: 10px;
  background-color: rgba(255, 0, 0, 0.8);
  padding: 2px 4px;
  border-radius: 5px;
  animation: heartbeat 1.5s ease-in-out infinite both;
}
.thumbnail-video-story-box .layer-video-thumbnail .bottom-wrapper {
  display: flex;
  align-items: center;
  padding: 0 5px;
}
.thumbnail-video-story-box .layer-video-thumbnail .bottom-wrapper .icon-play {
  font-size: 18px;
  color: #FFF;
}
.thumbnail-video-story-box .layer-video-thumbnail .bottom-wrapper .count-views {
  font-size: 10px;
  color: #FFF;
}
.thumbnail-video-story-box .thumbnail-video-tag {
  z-index: 10;
  z-index: 10;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}

.story-home-header-wrapper-v2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.story-home-header-wrapper-v2 .header-left {
  flex: 1;
  display: flex;
  align-items: center;
}
.story-home-header-wrapper-v2 .header-left .icon-header-video {
  height: 25px;
  width: 25px;
  background-color: #2ebdff;
  color: #FFF;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.story-home-header-wrapper-v2 .header-left .icon-header-video .icon {
  font-size: 22px;
  animation: heartbeat 1s ease-in-out infinite both;
}
.story-home-header-wrapper-v2 .header-left .story-home-header-wrapper {
  margin: 0;
  margin-left: 5px;
  font-size: 18px;
}
@media (min-width: 768px) {
  .story-home-header-wrapper-v2 .header-left .story-home-header-wrapper {
    font-size: 22px;
    margin-left: 10px;
  }
}
.story-home-header-wrapper-v2 .show-all-link {
  text-decoration: none;
  color: #2ebdff;
}
@media (max-width: 576px) {
  .story-home-header-wrapper-v2 .show-all-link {
    font-size: 12px;
  }
}
.story-home-header-wrapper-v2 .show-all-link:hover {
  color: #09aefb;
}

@keyframes skeleton-loading-card-ab {
  0% {
    background-color: rgba(0, 0, 0, 0.05);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.02);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
.new-header-section-ab {
  display: flex;
  align-items: center;
}
.new-header-section-ab .new-section-title-ab {
  font-size: 22px;
  color: #333;
}
@media (max-width: 576px) {
  .new-header-section-ab .new-section-title-ab {
    font-size: 18px;
  }
}
.new-header-section-ab .track-divider {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
}
.new-header-section-ab .track-divider .circle-light {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #FFF;
  border-radius: 50%;
  z-index: 50;
  animation-name: animateCircle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: 0 0 10px #2ebdff;
}
.new-header-section-ab .track-divider .circle-light-2 {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #FFF;
  border-radius: 50%;
  z-index: 50;
  left: 15px;
  animation-name: animateCircle;
  animation-duration: 3.95s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: 0 0 10px #2ebdff;
}
.new-header-section-ab .track-divider .divider-outer {
  width: 100%;
  position: relative;
  z-index: 20;
  height: 6px;
  background-color: #9fe1ff;
  margin: 0 10px;
  border-radius: 10px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  padding: 0 5px;
}
.new-header-section-ab .show-all-link {
  text-decoration: none;
  color: #2ebdff;
}
@media (max-width: 576px) {
  .new-header-section-ab .show-all-link {
    font-size: 12px;
  }
}
.new-header-section-ab .show-all-link:hover {
  color: #09aefb;
}

.new-header-section-ab-2 {
  display: flex;
  align-items: center;
}
.new-header-section-ab-2 .new-section-title-ab-2 {
  font-size: 22px;
  color: #2ebdff;
}
@media (max-width: 576px) {
  .new-header-section-ab-2 .new-section-title-ab-2 {
    font-size: 18px;
  }
}
.new-header-section-ab-2 .track-divider {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  z-index: 50;
}
.new-header-section-ab-2 .track-divider .ill-icon-box {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 60;
  left: 10px;
  animation-name: animateIllIcon;
  animation-duration: 3.95s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.new-header-section-ab-2 .track-divider .ill-icon-box .ill-icon {
  transform: rotate(90deg);
  display: inline-block;
  color: #2ebdff;
}
.new-header-section-ab-2 .track-divider .divider-outer {
  width: 100%;
  position: relative;
  z-index: 20;
  height: 6px;
  background-color: #9fe1ff;
  margin: 0 10px;
  border-radius: 10px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  padding: 0 5px;
}
.new-header-section-ab-2 .show-all-link {
  text-decoration: none;
  color: #2ebdff;
}
@media (max-width: 576px) {
  .new-header-section-ab-2 .show-all-link {
    font-size: 12px;
  }
}
.new-header-section-ab-2 .show-all-link:hover {
  color: #09aefb;
}

@keyframes animateCircle {
  0% {
    margin-left: 40%;
  }
  100% {
    margin-left: 95%;
  }
}
@media (max-width: 576px) {
  @keyframes animateCircle {
    0% {
      margin-left: 10%;
    }
    100% {
      margin-left: 70%;
    }
  }
}
@keyframes animateIllIcon {
  0% {
    margin-left: 20%;
  }
  100% {
    margin-left: 95%;
  }
}
@media (max-width: 576px) {
  @keyframes animateIllIcon {
    0% {
      margin-left: 10%;
    }
    100% {
      margin-left: 70%;
    }
  }
}
.bounce-top {
  animation: bounce-top 2s infinite alternate both;
}
@keyframes bounce-top {
  0% {
    transform: translateY(-10px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.badge-top-image .badge-item {
  animation: heartbeat 1.5s ease-in-out infinite both;
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeatLitle {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.99);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.99);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.menu-bottom-mobile-v2 {
  position: fixed;
  z-index: 9990;
  bottom: 0;
  left: 0;
  right: 0;
  height: 57px;
  background-color: #FFF;
  color: #2e393d;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.menu-bottom-mobile-v2 .menu-wrapper {
  max-width: 420px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-bottom-mobile-v2 .menu-wrapper .menu-item {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.menu-bottom-mobile-v2 .menu-wrapper .menu-item.active {
  color: #09aefb;
}
.menu-bottom-mobile-v2 .menu-wrapper .menu-item.active .text-menu-item {
  font-weight: 500;
}
.menu-bottom-mobile-v2 .menu-wrapper .icon-wrapper .bottom-menu-icon {
  font-size: 16px;
  display: block;
}
.menu-bottom-mobile-v2 .menu-wrapper .text-menu-item {
  margin-top: 2px;
  font-size: 10px;
}

.wobble-hor-bottom {
  animation: wobble-hor-bottom 3s infinite both;
}

@keyframes wobble-hor-bottom {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 60%;
  }
  15% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  45% {
    transform: rotate(-36deg);
  }
  60% {
    transform: rotate(24deg);
  }
  75% {
    transform: rotate(-1.2deg);
  }
}
.flicker-1 {
  animation: flicker-1 3s ease-in-out infinite both;
}
@keyframes flicker-1 {
  0%, 100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}/*# sourceMappingURL=new-style-ab.css.map */